<p style="color: green"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %> </h1>
  <hr class="my-4">
   <p class="lead">
  <%= @friend.phone %>
  </p>
  <hr class="my-4">
  <p class="lead">
    <%= @friend.email %>
  </p>
  <hr class="my-4">
  <p class="lead">
    <%= @friend.twitter %>
  </p>

</div>


<br/><br/>
<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-primary" %>
  <br/><br/>
  <%= link_to "Back to friends", friends_path, class:"btn btn-primary" %>

  <br/><br/>

  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-primary" %>
</div>
